@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Satoshi, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-size: clamp(2.6rem, 0.5rem + 4.25vw, 6rem);
  line-height: 1.2;
}

h3 {
  font-size: clamp(2.3rem, 0.5rem + 3.5vw, 5rem);
  line-height: 1.1;
}

h5 {
  font-size: clamp(2.1rem, 0.5rem + 3vw, 3.2rem);
  line-height: 1.25;
}

h6 {
  font-size: clamp(1.75rem, 0.5rem + 3vw, 2.4rem);
  line-height: 1.4;
}

p,
q {
  font-size: clamp(1.4rem, 0.5rem + 1.75vw, 1.8rem);
  line-height: 1.5;
}

figcaption {
  font-size: clamp(2rem, 0.5rem + 3vw, 2.5rem);
  font-weight: bold;
  line-height: 1.3;
}

/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
body {
  display: grid;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
}

main > * {
  grid-column: 2;
}

/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
section {
  padding-block: 7rem;
  padding-inline: 2vw;
}

ul,
menu {
  list-style: none;
}

.full-bleed {
  grid-column: 1/span 3;
}

#prev img {
  transform: scaleX(-1);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Components */
/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
.btn {
  all: unset;
  border-radius: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  text-transform: capitalize;
  transition: filter ease-in-out 0.2s;
}
.btn:hover {
  filter: brightness(0.9);
}

.btn-primary {
  background-color: #7214ff;
}

.btn-outline {
  background: linear-gradient(25deg, rgba(21, 25, 52, 0.52) 10%, rgba(21, 25, 52, 0.08) 50%, rgba(21, 25, 52, 0.42) 90%);
  border: 1px solid #282d45;
}

.btn-control {
  border-radius: 0.8rem;
  line-height: 1;
  padding: 0.5rem;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
.card {
  background-color: #0e1330;
  border: 1px solid #282d45;
  border-radius: 4px;
  flex: 1;
  min-width: 30rem;
  overflow: hidden;
  padding: 3rem 4rem;
  text-align: left;
}
.card header img {
  height: 4.5rem;
  width: 5rem;
}
.card header h6 {
  margin-block: 2.8rem 1.2rem;
}
.card p {
  word-break: break-all;
}

.form {
  background-color: tomato;
  background-color: #0e1330;
  border: 1px solid #282d45;
  border-radius: 1rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 40rem;
  padding: 4rem 3rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form h6 {
  align-self: flex-start;
  margin: 0 auto 0.5rem 0;
}
.form p {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 100%;
}
.form .btn[type=submit] {
  flex-basis: 100%;
  text-align: center;
}
.form #email {
  all: unset;
  border: 1px solid #151934;
  border-radius: 5rem;
  flex: 1;
  padding: 1rem 2.5rem;
}
.form #email::placeholder {
  color: #47507a;
}

.link-arrow {
  font-weight: bold;
  position: relative;
}
.link-arrow::after {
  content: "→";
  margin-left: 5px;
  position: absolute;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
.header {
  border-bottom: 1px solid #151934;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav {
  flex: 1;
  max-width: 1280px;
  padding-block: 2.5rem;
  padding-inline: 2vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu li {
  padding: 1rem;
}
.menu li ~ li {
  margin-inline-start: 1.5rem;
}

/* Sections */
.section.discord-section {
  background-image: url("../../assets/discord/bg.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  border: 1px solid #282d45;
  border-radius: 1rem;
  gap: 1.5rem;
  height: 45rem;
  margin: 7rem auto;
  max-width: 100rem;
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section.discord-section hgroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-block: 1.5rem;
  max-width: 53rem;
  text-align: center;
}
.section.discord-section #discord-logo {
  order: -1;
}
.section.discord-section .btn {
  background-color: #5865f2;
}
.section.discord-section::after {
  background: radial-gradient(circle at 90% 22%, rgba(114, 20, 255, 0.12) 10%, transparent 40%), radial-gradient(circle at 10% 22%, rgba(50, 202, 253, 0.12) 10%, transparent 40%), radial-gradient(circle at 50% 95%, rgba(88, 101, 242, 0.2) 10%, transparent 35%);
  content: "";
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.section.features-section .features-container {
  background-color: #0e1330;
  border: 1px solid #282d45;
  border-radius: 10px;
  padding: 5rem;
}
.section.features-section .features-article {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  text-align: center;
}
.section.features-section .features-article .btn {
  display: block;
  margin-block-start: 3rem;
  margin-inline: auto;
}
.section.features-section .features-article p {
  margin-block-start: 1.5rem;
}
@media screen and (width >= 1024px) {
  .section.features-section .features-article {
    justify-content: space-between;
    text-align: left;
  }
  .section.features-section .features-article hgroup {
    flex: 1;
    max-width: 50rem;
  }
  .section.features-section .features-article .btn {
    margin-inline: initial;
  }
}
.section.features-section .features-article picture {
  height: 100%;
  max-height: 40rem;
  max-width: 52.5rem;
  width: 100%;
}
.section.features-section .product-group {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-block-start: 4rem;
}
@media screen and (width >= 1024px) {
  .section.features-section .product-group {
    grid-template-columns: 1fr 1fr;
  }
}
.section.features-section .product-group .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #060b27;
  border-radius: 10px;
  gap: 3.2rem;
  max-width: 54rem;
  padding-block-end: 0;
}
.section.features-section .product-group hgroup p {
  margin-block-start: 1rem;
}
.section.features-section .product-group picture {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section.features-section .product-group picture img {
  height: 100%;
  width: 100%;
}

.section.hero-section {
  text-align: center;
}
.section.hero-section hgroup {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-block-end: 3rem;
}
.section.hero-section hgroup p {
  max-width: 80rem;
}
.section.hero-section picture {
  display: block;
  margin: 5rem auto;
  width: fit-content;
}

.section.media-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.section.media-section hgroup {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding-block-end: 4.5rem;
}
@media screen and (width >= 868px) {
  .section.media-section hgroup {
    flex-wrap: nowrap;
  }
  .section.media-section hgroup h3 {
    flex-basis: 65%;
  }
  .section.media-section hgroup p {
    flex-basis: 35%;
  }
}

.section.product-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem;
  padding-block-end: 14rem;
}
.section.product-section .products-container {
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section.product-section .product-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  gap: 2rem;
  max-width: 40rem;
  min-width: 35rem;
  padding: 2.5rem;
}
.section.product-section .product-card hgroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.section.product-section .product-card hgroup h6 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.section.product-section .product-card hgroup p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: keep-all;
}
.section.product-section .product-card img {
  height: 23rem;
  order: -1;
  width: 34.2rem;
}
.section.product-section .product-card footer {
  border-block-start: 1px solid #151934;
  margin-inline-end: auto;
  padding-block-start: 2rem;
  width: calc(100% - 15px);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section.showcase-section {
  text-align: center;
}
.section.showcase-section h3 {
  line-height: 1.2;
  margin-block-start: 0.75rem;
}
@media screen and (width >= 860px) {
  .section.showcase-section h3 {
    margin-block-start: 1.75rem;
  }
}
.section.showcase-section h3 span {
  white-space: nowrap;
}
.section.showcase-section h3 span img {
  height: clamp(1.65rem, 0.5rem + 2vw, 3rem);
}

.card.article-invitation {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  gap: 2.8rem;
  height: 50rem;
  margin-block: 6rem 4rem;
  padding: 0;
  position: relative;
}
.card.article-invitation::before {
  background: linear-gradient(55deg, rgba(114, 20, 255, 0.1) 0%, transparent 30%, transparent 50%, rgba(50, 202, 253, 0.15) 100%);
  content: "";
  inset: 0;
  pointer-events: none;
  position: absolute;
}
.card.article-invitation header {
  padding-inline: 7rem 4rem;
}
.card.article-invitation picture {
  padding: 7rem 7rem 7rem 0;
}
.card.article-invitation hgroup p {
  margin-block: 1.5rem 3.5rem;
  word-break: normal;
}
@media screen and (width < 1200px) {
  .card.article-invitation {
    flex-wrap: wrap;
    gap: 0;
    height: fit-content;
  }
  .card.article-invitation header,
  .card.article-invitation picture {
    padding: 7rem 7rem 0;
    text-align: center;
  }
}

.section.showcase-section div {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr;
  margin-block-end: 6rem;
}
@media screen and (width >= 1200px) {
  .section.showcase-section div {
    grid-template-columns: minmax(auto, 500px) 1fr;
  }
}
.section.showcase-section div .article-mobile,
.section.showcase-section div .article-upload {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  gap: 1.5rem;
  height: 100%;
  padding: 5rem 5.5rem;
  position: relative;
}
.section.showcase-section div .article-mobile p,
.section.showcase-section div .article-upload p {
  font-size: 1.68rem;
  text-align: center;
}
@media screen and (width >= 1200px) {
  .section.showcase-section div .article-mobile h5,
  .section.showcase-section div .article-upload h5 {
    align-self: flex-start;
  }
  .section.showcase-section div .article-mobile p,
  .section.showcase-section div .article-upload p {
    text-align: left;
    word-break: keep-all;
  }
}
.section.showcase-section div .article-mobile::after,
.section.showcase-section div .article-upload::after {
  background: radial-gradient(circle at 0% 100%, rgba(114, 20, 255, 0.15) 0%, transparent 50%), radial-gradient(circle at 80% 20%, rgba(65, 232, 141, 0.12) 0%, transparent 40%);
  content: "";
  inset: 0;
  pointer-events: none;
  position: absolute;
}
.section.showcase-section div .article-mobile img {
  margin-block-end: 2rem;
}
.section.showcase-section div .article-upload {
  padding-block-end: 0;
}
.section.showcase-section div .article-upload img {
  max-width: 58rem;
  order: 2;
  width: 100%;
}
.section.showcase-section div .article-upload::after {
  background: radial-gradient(circle at 0% 100%, rgba(45, 85, 251, 0.15) 0%, transparent 50%), radial-gradient(circle at 80% 20%, rgba(114, 20, 255, 0.15) 0%, transparent 30%);
}

.section.testimonial-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section.testimonial-section hgroup {
  align-self: center;
  max-width: 64rem;
}
.section.testimonial-section hgroup h2 {
  margin-block-end: 2.4rem;
}
.section.testimonial-section .buttons-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 1.5rem;
}

.quotes-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
  height: fit-content;
  overflow: hidden;
  padding-block: 6rem 7rem;
  padding-inline: 5rem;
  width: 100%;
}
@media screen and (width <= 1024px) {
  .quotes-container {
    justify-content: flex-start;
  }
}
.quotes-container blockquote {
  flex: 0 0 auto;
  height: 100%;
  overflow: visible;
  padding: 2.5rem;
  position: relative;
  width: 34.5rem;
}
.quotes-container blockquote header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-block-end: 2.5rem;
}
.quotes-container blockquote header div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
.quotes-container blockquote header div p {
  font-weight: bold;
}
.quotes-container blockquote header div small {
  color: #8f9bb7;
  display: block;
  font-weight: normal;
}
.quotes-container blockquote header img {
  height: 4rem;
  width: 4rem;
}
.quotes-container blockquote::before {
  background: radial-gradient(circle at 15% 50%, rgba(114, 20, 255, 0.2) 0%, transparent 80%), radial-gradient(circle at 50% 50%, rgba(168, 233, 255, 0.2) 0%, transparent 70%), radial-gradient(circle at 85% 50%, rgba(198, 255, 224, 0.25) 0%, transparent 70%);
  border: 1px solid #282d45;
  border-radius: 10px;
  bottom: -2.5rem;
  content: "";
  height: 11rem;
  position: absolute;
  right: -2.5rem;
  width: 39.25rem;
  z-index: -1;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-width: 1280px;
  padding: 10rem 2vw 4rem;
  position: relative;
  width: 100%;
}
.footer .footer-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #282d45;
  flex-wrap: wrap;
  padding-block-end: 4.5rem;
  width: 100%;
}
.footer .footer-container .form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 33rem;
  z-index: 1;
}
.footer::before {
  background: radial-gradient(circle at 55% 65%, rgba(114, 20, 255, 0.15) 0%, transparent 65%);
  content: "";
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.footer-nav {
  display: grid;
  flex-basis: 100%;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.footer-nav p {
  font-size: 2rem;
  margin-block: 3.5rem;
}
.footer-nav ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.6rem;
  gap: 2.5rem;
  max-height: 33rem;
}
.footer-nav ul li {
  color: #8f9bb7;
  cursor: pointer;
  transition: ease-in 0.15s;
}
.footer-nav ul li:hover {
  color: #f5f5f5;
}
@media screen and (width >= 1024px) {
  .footer-nav {
    flex: 1;
    grid-template-columns: 2fr 1fr;
  }
  .footer-nav div:last-child {
    justify-self: flex-end;
  }
  .footer-nav ul {
    column-gap: 10rem;
  }
}

#social-media {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  margin-block-start: 3rem;
  width: 100%;
}
#social-media ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

body {
  background-color: #060b27;
  color: #f5f5f5;
}
