@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
html {
  font-size: 62.5%;
}

body {
  font-family: Satoshi, sans-serif;
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  background: linear-gradient(#f5f5f5, #7e808f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1.2;
}

h1 {
  font-size: clamp(3.1rem, 0.5rem + 4.5vw, 6rem);
}

h2 {
  font-size: clamp(2.7rem, 0.25rem + 4vw, 5.6rem);
  line-height: 1.14;
}

h3 {
  font-size: clamp(2.4rem, 0.25rem + 3.7vw, 4.8rem);
  line-height: 1.16;
}

h4 {
  font-size: 4rem;
}

h5,
.feature__title {
  font-size: clamp(2rem, 0.2rem + 2.1vw, 3.2rem);
  line-height: 1.25;
}

h6,
.card__title {
  color: #f5f5f5;
  font-size: 2.4rem;
  line-height: 1.33;
}

figcaption {
  font-size: clamp(2rem, 0.5rem + 3vw, 2.5rem);
  font-weight: bold;
  line-height: 1.3;
}

.subtitle,
.subtitle--small,
.subtitle--large {
  color: #8f9bb7;
  font-family: Inter, sans-serif;
}

.subtitle--small {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.subtitle--large {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
body {
  display: grid;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
}

main > * {
  grid-column: 2;
}

/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
section {
  padding-block: 7rem;
  padding-inline: clamp(2rem, 2vw, 2vw);
}

ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  transition: color ease-in-out 0.2s;
  color: #8f9bb7;
  font-size: 1.6rem;
  cursor: pointer;
}
.link:hover, .link.active {
  color: #f5f5f5;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 32.5px;
  height: 32.5px;
}

.full-bleed {
  grid-column: 1/span 3;
}

.flip-horizontal svg {
  transform: scaleX(-1);
}

/* Components */
/* Color Palette */
/* Body Styles */
/* Layout Configuration */
/* Borders */
/* Sizes and Spacing */
.btn {
  all: unset;
  padding: 1.5rem 2.5rem;
  transition: filter ease-in-out 0.2s;
  border-radius: 3.5rem;
  font-size: 1.6rem;
  line-height: 1;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(0.9);
}

.btn-primary {
  background-color: #7214ff;
}

.btn-outline {
  border: 1px solid #282d45;
  background: linear-gradient(25deg, rgba(21, 25, 52, 0.52) 10%, rgba(21, 25, 52, 0.08) 50%, rgba(21, 25, 52, 0.42) 90%);
}

.btn-control {
  padding: 0.5rem;
  border-radius: 0.8rem;
  line-height: 1;
}
.btn-control svg {
  width: 2.4rem;
  height: 2.4rem;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.card {
  flex: 1;
  min-width: 30rem;
  padding: 3rem 4rem;
  border: 1px solid #282d45;
  border-radius: 4px;
  background-color: #0e1330;
  text-align: left;
  overflow: hidden;
}
.card header img {
  width: 5rem;
  height: 4.5rem;
}
.card header .card__title {
  margin-block: 2.8rem 1.2rem;
}
.card p {
  word-break: break-all;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40rem;
  padding: 4rem 3rem;
  border: 1px solid #282d45;
  border-radius: 1rem;
  background-color: tomato;
  background-color: #0e1330;
  gap: 1.5rem;
}
.form .form__title {
  align-self: flex-start;
  margin: 0 auto 0.5rem 0;
  color: #f5f5f5;
  font-size: 2.4rem;
  line-height: 1.33;
}
.form p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}
.form .btn[type=submit] {
  flex-basis: 100%;
  text-align: center;
}
.form .email-input {
  all: unset;
  flex: 1;
  padding: 1rem 2.5rem;
  border: 1px solid #282d45;
  border-radius: 5rem;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
}
.form .email-input::placeholder {
  color: #47507a;
}

.link-arrow {
  position: relative;
  font-weight: bold;
}
.link-arrow::after {
  position: absolute;
  margin-left: 5px;
  transition: margin 0.15s;
  content: "→";
}
.link-arrow:hover::after {
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #151934;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
  max-width: 1280px;
  padding: 2.5rem clamp(2rem, 2vw, 2vw);
  font-family: Inter, sans-serif;
  user-select: none;
}
.nav .nav__brand img {
  width: 100%;
  height: 100%;
}
.nav .nav__toggler {
  fill: white;
  cursor: pointer;
}
.nav .nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.nav .nav__menu.collapsible__content {
  display: none;
}
.nav .nav__menu li {
  padding: 1rem;
}
.nav.collapsible--expanded .collapsible__content {
  display: flex;
  flex-basis: 100%;
}
@media screen and (width >= 768px) {
  .nav .nav__toggler {
    display: none;
  }
  .nav .nav__menu.collapsible__content {
    display: flex;
    flex-basis: auto;
  }
}

/* Sections */
.section.discord-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 100rem;
  height: 45rem;
  margin: 7rem auto;
  border: 1px solid #282d45;
  border-radius: 1rem;
  background-image: url("../../assets/discord/bg.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  gap: 1.5rem;
}
.section.discord-section hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-block: 1.5rem;
  max-width: 53rem;
  text-align: center;
}
.section.discord-section .discord__title {
  color: #f5f5f5;
  font-size: 4rem;
}
.section.discord-section .discord__image {
  order: -1;
}
.section.discord-section .btn {
  background-color: #5865f2;
}
.section.discord-section::after {
  position: absolute;
  background: radial-gradient(circle at 90% 22%, rgba(114, 20, 255, 0.12) 10%, transparent 40%), radial-gradient(circle at 10% 22%, rgba(50, 202, 253, 0.12) 10%, transparent 40%), radial-gradient(circle at 50% 95%, rgba(88, 101, 242, 0.2) 10%, transparent 35%);
  pointer-events: none;
  content: "";
  inset: 0;
}

.features-container {
  margin: 7rem clamp(2rem, 2vw, 2vw);
  padding: 4rem 2rem;
  border: 1px solid #282d45;
  border-radius: 10px;
  background-color: #0e1330;
}
.features-container img {
  width: 100%;
}
.features-container .features-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  text-align: center;
}
.features-container .features-article .subtitle {
  margin-block-start: 1.5rem;
}
.features-container .features-article .btn {
  display: block;
  margin: 3rem auto 0;
}
.features-container .features-article picture {
  max-width: 52.5rem;
  max-height: 40rem;
}
@media screen and (width >= 1024px) {
  .features-container {
    padding: 5rem;
  }
  .features-container .features-article {
    justify-content: space-between;
    text-align: left;
  }
  .features-container .features-article hgroup {
    flex: 1;
    max-width: 50rem;
  }
  .features-container .features-article .btn {
    margin-inline: initial;
  }
}
.features-container .product-container {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-block-start: 4rem;
}
.features-container .product-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 54rem;
  padding: 3rem 2rem 0;
  border-radius: 10px;
  background-color: #060b27;
  gap: 3.2rem;
}
@media screen and (width >= 1024px) {
  .features-container .product-container {
    grid-template-columns: 1fr 1fr;
  }
  .features-container .product-container .card {
    padding: 3rem 3rem 0;
  }
}
.features-container .product-container .subtitle {
  margin-block-start: 1rem;
}
.features-container .product-container .product-mail,
.features-container .product-container .product-ui {
  max-height: 21.1rem;
  margin-block-start: auto;
}
.features-container .product-container .product-mail {
  max-width: 41.7rem;
}
.features-container .product-container .product-ui {
  max-width: 48.7rem;
}

.section.hero-section {
  position: relative;
  text-align: center;
}
.section.hero-section hgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-block-end: 3rem;
}
.section.hero-section hgroup h1 {
  flex-basis: 100%;
}
.section.hero-section hgroup p {
  max-width: 80rem;
}
.section.hero-section picture {
  display: block;
  width: fit-content;
  max-width: 80rem;
  max-height: 51.2rem;
  margin: 5rem auto 0;
}
.section.hero-section picture img {
  width: 100%;
  height: 100%;
}
.section.hero-section .btn {
  margin: 0 1.5rem 1.5rem;
}
.section.hero-section::after {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 5% 50%, rgba(114, 20, 255, 0.15) 0%, transparent 25%), radial-gradient(circle at 95% 60%, rgba(50, 202, 253, 0.15) 0%, transparent 22%);
  content: "";
  z-index: -1;
}

.section.media-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.section.media-section hgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 4.5rem;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  gap: 2.4rem;
}
.section.media-section hgroup h2,
.section.media-section hgroup p {
  flex-basis: 100%;
}
@media screen and (width >= 1024px) {
  .section.media-section hgroup {
    flex-wrap: nowrap;
    text-align: left;
  }
  .section.media-section hgroup h2 {
    flex-basis: 65%;
  }
  .section.media-section hgroup p {
    flex-basis: 30%;
    min-width: 38.5rem;
  }
}

.section.product-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem;
  padding-block-end: 14rem;
}
.section.product-section .products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.section.product-section .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 35rem;
  max-width: 40rem;
  padding: 2.5rem;
  border-radius: 1rem;
  gap: 2rem;
}
.section.product-section .product-card hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.section.product-section .product-card hgroup .card__title,
.section.product-section .product-card hgroup .subtitle--small {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: keep-all;
}
.section.product-section .product-card hgroup .subtitle--small {
  -webkit-line-clamp: 3;
}
.section.product-section .product-card img {
  order: -1;
  width: 100%;
  max-width: 34.2rem;
  height: 100%;
  max-height: 23rem;
}
.section.product-section .product-card footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-block-start: 1px solid #282d45;
  margin-inline-end: auto;
  padding-block-start: 2rem;
  width: calc(100% - 15px);
}

.section.showcase-section {
  text-align: center;
}
.section.showcase-section h3 {
  margin-block-start: 1rem;
}
@media screen and (width >= 768px) {
  .section.showcase-section h3 {
    margin-block-start: 2rem;
  }
}
.section.showcase-section h3 span {
  white-space: nowrap;
  margin-inline-start: 1.1rem;
}
.section.showcase-section h3 span svg {
  width: clamp(2.5rem, 0.5rem + 3.5vw, 4rem);
  height: clamp(2.5rem, 0.5rem + 3.5vw, 3.5rem);
}
.section.showcase-section > .btn {
  margin: 0 1.5rem 1.5rem;
}

.card.article-invitation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  height: fit-content;
  padding: 2rem;
  border-radius: 10px;
  margin-block: 6rem 4rem;
  gap: 0;
}
.card.article-invitation::before {
  position: absolute;
  background: linear-gradient(55deg, rgba(114, 20, 255, 0.1) 0%, transparent 30%, transparent 50%, rgba(50, 202, 253, 0.15) 100%);
  pointer-events: none;
  content: "";
  inset: 0;
}
.card.article-invitation header,
.card.article-invitation picture {
  text-align: center;
  margin-block-start: 5rem;
}
.card.article-invitation picture {
  max-width: 51.5rem;
  max-height: 37.3rem;
}
.card.article-invitation picture img {
  width: 100%;
  height: 100%;
}
.card.article-invitation .subtitle {
  margin-block: 1.5rem 3.5rem;
  max-width: 46.5rem;
}
@media screen and (width >= 1024px) {
  .card.article-invitation {
    flex-wrap: nowrap;
    gap: 2.8rem;
    height: 51.3rem;
  }
  .card.article-invitation header {
    padding-inline: 5rem 4rem;
    margin: 0;
    text-align: left;
  }
  .card.article-invitation picture {
    margin: 5rem 5rem 5rem 0;
  }
}

.section.showcase-section div {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr;
  margin-block-end: 6rem;
}
.section.showcase-section div .article-mobile,
.section.showcase-section div .article-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 4rem 2rem;
  border-radius: 10px;
  gap: 1.5rem;
  text-align: center;
}
.section.showcase-section div .article-mobile img,
.section.showcase-section div .article-upload img {
  width: 100%;
}
.section.showcase-section div .article-mobile::after,
.section.showcase-section div .article-upload::after {
  position: absolute;
  background: radial-gradient(circle at 0% 100%, rgba(114, 20, 255, 0.15) 0%, transparent 50%), radial-gradient(circle at 80% 20%, rgba(65, 232, 141, 0.12) 0%, transparent 40%);
  pointer-events: none;
  content: "";
  inset: 0;
}
.section.showcase-section div .article-mobile picture {
  margin-block-end: 2rem;
  max-width: 27.1rem;
  max-height: 30.6rem;
}
@media screen and (width >= 1024px) {
  .section.showcase-section div {
    grid-template-columns: minmax(auto, 49.6rem) 1fr;
  }
  .section.showcase-section div .article-mobile,
  .section.showcase-section div .article-upload {
    padding: 5rem;
    text-align: left;
  }
  .section.showcase-section div .article-mobile .feature__title,
  .section.showcase-section div .article-upload .feature__title {
    align-self: flex-start;
  }
}
.section.showcase-section div .article-upload {
  padding-block-end: 0;
}
.section.showcase-section div .article-upload picture {
  order: 2;
  max-width: 58rem;
  max-height: 39.3rem;
  margin-block-start: auto;
}
.section.showcase-section div .article-upload::after {
  background: radial-gradient(circle at 0% 100%, rgba(45, 85, 251, 0.15) 0%, transparent 50%), radial-gradient(circle at 80% 20%, rgba(114, 20, 255, 0.15) 0%, transparent 30%);
}

.section.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.section.testimonial-section hgroup {
  align-self: center;
  max-width: 64rem;
}
.section.testimonial-section hgroup h2 {
  margin-block-end: 2.4rem;
}
.section.testimonial-section .buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 1.5rem;
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  gap: 7rem;
  padding-block: 6rem 7rem;
  padding-inline: 5rem;
}
@media screen and (width <= 1024px) {
  .testimonial-container {
    justify-content: flex-start;
  }
}
.testimonial-container blockquote {
  position: relative;
  flex: 0 0 auto;
  width: 34.5rem;
  height: 100%;
  padding: 2.5rem;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  overflow: visible;
}
.testimonial-container blockquote header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block-end: 2.5rem;
}
.testimonial-container blockquote header img {
  object-fit: cover;
  border-radius: 1rem;
}
.testimonial-container blockquote header .icon {
  width: 5.7rem;
  height: 4.1rem;
}
.testimonial-container blockquote .testimonial__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.testimonial-container blockquote .testimonial__author p {
  font-weight: bold;
}
.testimonial-container blockquote .testimonial__author small {
  display: block;
  color: #8f9bb7;
  font-size: 1.2rem;
  font-weight: normal;
  margin-block-start: 0.75rem;
}
.testimonial-container blockquote::before {
  position: absolute;
  right: -2.5rem;
  bottom: -2.5rem;
  width: 39.25rem;
  height: 11rem;
  border: 1px solid #282d45;
  border-radius: 10px;
  background: radial-gradient(circle at 15% 50%, rgba(114, 20, 255, 0.2) 0%, transparent 80%), radial-gradient(circle at 50% 50%, rgba(168, 233, 255, 0.2) 0%, transparent 70%), radial-gradient(circle at 85% 50%, rgba(198, 255, 224, 0.25) 0%, transparent 70%);
  content: "";
  z-index: -1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 10rem clamp(2rem, 2vw, 2vw) 4rem;
  margin-inline: auto;
}
.footer .footer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #282d45;
  padding-block-end: 4.5rem;
  gap: 5rem;
}
.footer .footer-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  max-height: 30.5rem;
  gap: 3.5rem;
  z-index: 1;
}
.footer::before {
  position: absolute;
  background: radial-gradient(circle at 55% 65%, rgba(114, 20, 255, 0.15) 0%, transparent 65%);
  pointer-events: none;
  content: "";
  inset: 0;
}

.footer-nav {
  display: grid;
  flex-basis: 100%;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.footer-nav p {
  font-size: 2rem;
  margin-block-end: 3.5rem;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.6rem;
  gap: 2.5rem;
}
.footer-nav ul li {
  transition: ease-in 0.15s;
  color: #8f9bb7;
  cursor: pointer;
}
.footer-nav ul li:hover {
  color: #f5f5f5;
}
@media screen and (width >= 1024px) {
  .footer-nav {
    flex: 1;
    grid-template-columns: 2fr 1fr;
  }
  .footer-nav div:last-child {
    justify-self: flex-end;
  }
  .footer-nav ul {
    max-height: 33rem;
    column-gap: 10rem;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  margin-block-start: 3rem;
  width: 100%;
}
.social-media ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.social-media span {
  color: #f5f5f5;
}

body {
  background-color: #060b27;
  color: #f5f5f5;
}
