.section.discord-section {
  background-image: url('../../assets/discord/bg.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  border: $dark-border-button;
  border-radius: 1rem;
  gap: 1.5rem;
  height: 45rem;
  margin: 7rem auto;
  position: relative;
  width: 100rem;

  @include flex-center(column);

  hgroup {
    @include flex-center(column);

    gap: 1.5rem;
    margin-block: 1.5rem;
    max-width: 53rem;
    text-align: center;
  }

  #discord-logo {
    order: -1;
  }

  .btn {
    background-color: #5865f2;
  }

  &::after {
    background: radial-gradient(
        circle at 90% 22%,
        rgba($primary-color, 0.12) 10%,
        transparent 40%
      ),
      radial-gradient(
        circle at 10% 22%,
        rgba($secondary-color, 0.12) 10%,
        transparent 40%
      ),
      radial-gradient(
        circle at 50% 95%,
        rgba(#5865f2, 0.2) 10%,
        transparent 35%
      );
    content: '';
    inset: 0;
    pointer-events: none;
    position: absolute;
  }
}
