.section.testimonial-section {
  @include flex-center(column, center, flex-start);

  text-align: center;

  hgroup {
    align-self: center;
    max-width: 64rem;

    h2 {
      margin-block-end: 2.4rem;
    }
  }

  .buttons-container {
    @include flex-center;

    align-self: center;
    gap: 1.5rem;
  }
}

.quotes-container {
  @include flex-center;

  gap: 7rem;
  height: fit-content;
  overflow: hidden;
  padding-block: 6rem 7rem;
  padding-inline: 5rem;
  width: 100%;

  @media screen and (width <= 1024px) {
    justify-content: flex-start;
  }

  blockquote {
    flex: 0 0 auto;
    height: 100%;
    overflow: visible;
    padding: 2.5rem;
    position: relative;
    width: 34.5rem;

    header {
      @include flex-center;

      gap: 1rem;
      margin-block-end: 2.5rem;

      div {
        @include flex-center(row, space-between);

        flex: 1;

        p {
          font-weight: bold;
        }

        small {
          color: #8f9bb7;
          display: block;
          font-weight: normal;
        }
      }

      img {
        height: 4rem;
        width: 4rem;
      }
    }

    &::before {
      background: radial-gradient(
          circle at 15% 50%,
          rgba($primary-color, 0.2) 0%,
          transparent 80%
        ),
        radial-gradient(
          circle at 50% 50%,
          rgba(#a8e9ff, 0.2) 0%,
          transparent 70%
        ),
        radial-gradient(
          circle at 85% 50%,
          rgba(#c6ffe0, 0.25) 0%,
          transparent 70%
        );
      border: $dark-border-button;
      border-radius: 10px;
      bottom: -2.5rem;
      content: '';
      height: 11rem;
      position: absolute;
      right: -2.5rem;
      width: 39.25rem;
      z-index: -1;
    }
  }
}
