.footer {
  @include flex-center(column);

  position: relative;
  width: 100%;
  max-width: $main-content-width;
  padding: 10rem $padding-inline-default 4rem;
  margin-inline: auto;

  .footer-container {
    @include flex-center($align: flex-start);

    flex-wrap: wrap;
    width: 100%;
    border-bottom: $dark-border-button;
    padding-block-end: 4.5rem;
    gap: 5rem;

    .form-container {
      @include flex-center(column, space-between, flex-start);

      max-height: 30.5rem;
      gap: 3.5rem;
      height: 100%;
      z-index: 1;
    }
  }

  &::before {
    position: absolute;
    background: radial-gradient(circle at 55% 65%, rgba($primary-color, 0.15) 0%, transparent 65%);
    pointer-events: none;
    content: "";
    inset: 0;
  }
}

.footer-nav {
  display: grid;
  flex-basis: 100%;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  p {
    font-size: 2rem;
    margin-block-end: 3.5rem;
  }

  ul {
    @include flex-center(column, flex-start, flex-start);

    flex-wrap: wrap;
    font-size: 1.6rem;
    gap: 2.5rem;

    li {
      transition: ease-in 0.15s;
      color: $neutral-text-color;
      cursor: pointer;

      &:hover {
        color: $dark-text-color;
      }
    }
  }

  @media screen and (width >= 1024px) {
    flex: 1;
    grid-template-columns: 2fr 1fr;

    div:last-child {
      justify-self: flex-end;
    }

    ul {
      column-gap: 10rem;
      max-height: 33rem;
    }
  }
}

.social-media {
  @include flex-center(row, space-between);

  flex-wrap: wrap;
  gap: 3rem;
  margin-block-start: 3rem;
  width: 100%;

  ul {
    @include flex-center;

    gap: 1.5rem;
  }

  span {
    color: $dark-text-color;
  }
}
