.section.product-section {
  @include flex-center(row, space-between);

  flex-wrap: wrap;
  gap: 6rem;
  padding-block-end: 14rem;

  .products-container {
    @include flex-center;

    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 2.4rem;
  }

  .product-card {
    @include flex-center(column);

    max-width: 35rem;
    max-width: 40rem;
    padding: 2.5rem;
    border-radius: 1rem;
    gap: 2rem;

    hgroup {
      @include flex-center(column);

      gap: 1.5rem;

      .card__title,
      .subtitle--small {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: keep-all;
      }

      .subtitle--small {
        -webkit-line-clamp: 3;
      }
    }

    img {
      order: -1;
      width: 100%;
      max-width: 34.2rem;
      height: 100%;
      max-height: 23rem;
    }

    footer {
      @include flex-center(row, space-between);

      border-block-start: $dark-border-button;
      margin-inline-end: auto;
      padding-block-start: 2rem;
      width: calc(100% - 15px);
    }
  }
}
