<section class="section">
  <hgroup>
    <h2>A CRM dashboard for engineering teams</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur. Gravida convallis orci ultrices
      non. Ultricies tempor at ut cursus mi. Aliquam sed amet vitae orci ac
      penatibus consectetur.
    </p>
  </hgroup>

  <button type="button" class="btn btn-primary">Get a demo</button>
  <button type="button" class="btn btn-outline">view pricing</button>

  <picture>
    <source
      media="(max-width: 767px)"
      sizes="(max-width: 513px) 100vw, 513px"
      srcset="
        assets/hero_hvf4nj_ar_1_1,c_fill,g_auto__c_scale,w_190.png 190w,
        assets/hero_hvf4nj_ar_1_1,c_fill,g_auto__c_scale,w_513.png 513w
      "
    />
    <source
      media="(min-width: 768px) and (max-width: 991px)"
      sizes="(max-width: 1154px) 70vw, 808px"
      srcset="
        assets/hero_hvf4nj_c_scale,w_538.png 538w,
        assets/hero_hvf4nj_c_scale,w_808.png 808w
      "
    />
    <source
      media="(min-width: 992px) and (max-width: 1199px)"
      sizes="(max-width: 1347px) 60vw, 808px"
      srcset="
        assets/hero_hvf4nj_c_scale,w_596.png 596w,
        assets/hero_hvf4nj_c_scale,w_808.png 808w
      "
    />
    <img
      sizes="(max-width: 2020px) 40vw, 808px"
      srcset="
        assets/hero_hvf4nj_c_scale,w_480.png 480w,
        assets/hero_hvf4nj_c_scale,w_808.png 808w
      "
      src="assets/hero_hvf4nj_c_scale,w_808.png"
      alt=""
    />
  </picture>
</section>
