@import "../utils/variables";

.btn {
  all: unset;
  border-radius: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  transition: filter ease-in-out 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.btn-primary {
  background-color: $primary-color;
}

.btn-outline {
  background: linear-gradient(
    25deg,
    rgba($dark-border-color, 0.52) 10%,
    rgba($dark-border-color, 0.08) 50%,
    rgba($dark-border-color, 0.42) 90%
  );
  border: $dark-border-button;
}

.btn-control {
  border-radius: 0.8rem;
  line-height: 1;
  padding: 0.5rem;

  svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
