.form {
  background-color: tomato;
  background-color: $dark-bg-card;
  border: $dark-border-button;
  border-radius: 1rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 40rem;
  padding: 4rem 3rem;

  @include flex-center;

  h6 {
    align-self: flex-start;
    margin: 0 auto 0.5rem 0;
  }

  p {
    @include flex-center;

    flex-basis: 100%;
  }

  .btn[type='submit'] {
    flex-basis: 100%;
    text-align: center;
  }

  #email {
    all: unset;
    border: $dark-border;
    border-radius: 5rem;
    flex: 1;
    padding: 1rem 2.5rem;

    &::placeholder {
      color: $input-placeholder-color;
    }
  }
}
