.link-arrow {
  position: relative;
  font-weight: bold;

  &::after {
    position: absolute;
    transition: margin 0.15s;
    font-size: 2.2rem;
    line-height: 1rem;
    content: "→";
  }

  &:hover::after {
    margin-left: 5px;
  }
}
