.link-arrow {
  position: relative;
  font-weight: bold;

  &::after {
    position: absolute;
    margin-left: 5px;
    transition: margin 0.15s;
    content: "→";
  }

  &:hover::after {
    margin-left: 10px;
  }
}
