/* Color Palette */
$primary-color: #7214ff;
$secondary-color: #32cafd;
$success-color: #41e88d;
$dark-border-color: #151934;
$dark-bg-card: #0e1330;
$input-placeholder-color: #47507a;
$neutral-text-color: #8f9bb7;

/* Body Styles */
$dark-bg-main: #060b27;
$dark-text-color: #f5f5f5;

/* Layout Configuration */
$main-content-width: 1280px;

/* Borders */
$dark-border: 1px solid $dark-border-color;
$dark-border-button: 1px solid #282d45;

/* Sizes and Spacing */
$padding-inline-default: clamp(2rem, 2vw, 2vw);
